*.class
*.orig
*.txt
*.prefs
*.mf
*.jar
*.war
*.ear
*.png
*.jpg
.settings
.classpath
.project
.jsdtscope
application.xml
org.*
config
description
head
pom.properties
*/target/
Configuration JBoss