/***************************************/
/*********      Content     ************/
/***************************************/


/***************************************/
/*********      Contenu     ************/
/***************************************/

#contenuFormInscription
{
	padding-top: 0.5%;
	padding-left: 1%;
	padding-right: 1%;	
}

/********************************/
/*********      Titre    ********/
/********************************/

#titrePageFormInsc
{
	width:400px;
	margin-left:28%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius:10px;
	background-color: rgba(128, 128, 128, 0.43);
	text-align: center;
	margin-top: 2%;
	position: absolute;
	font-weight: bold;
	font-family: Lucida Sans;
	color: #EAF9F7;	
}

/****************************************************/
/*********      Formulaire d'inscription     ********/
/****************************************************/

.titreColonneFormInsc
{
	font-weight: bold;
	font-family: Lucida Sans;
	color: #EAF9F7;	
	text-align: center;
	margin-left: 5%;
}

 
 .buttAnnulerFormInsc
{
	float:right;
	width:80px;
	border-radius:10px;
	border:2px solid black;
	background-color: #ABBAC8;
	color: #3E186F;
	font-size: 12pt;
}

.buttAnnulerFormInsc:hover
 {
	-moz-box-shadow: 0 0 15px #00C6DC;
	-webkit-box-shadow: 0 0 15px #00C6DC;
	box-shadow: 0 0 15px #00C6DC;
}
 
.centVingtpx
{
	width:120px;
}

.droite
{
	float:right;
	width:150px;
}

.colonneFormeInscription
{
	border: 2px, solid, black;
	border-radius: 10px;
	float: left;
	margin-left: 30px;
	width: 290px;
	height: 400px;
	background-color: rgba(128, 128, 128, 0.43);
	margin-top: 110px;
	padding-top: 1%;
	padding-left: 1%;
	color: #EAF9F7;	
}

.detailNiveau1,.detailNiveau3,.detailNiveau2
{

background-color: rgba(128, 128, 128, 0.43);
padding-bottom:20px;

}

.detailNiveau1
{
	padding-left:100px;


}
 
 .bottom
 {
	margin-bottom:30px;
 
 
 
 }
 .center
 {
	width:200px;
	margin-left:auto;
	margin-right:auto;
 
 }
 
 .buttValiderFormInsc
 {
	margin-left:auto;
	margin-right:18px;
	width:80px;
	border-radius:10px;
	border:2px solid black;
	background-color: #ABBAC8;
	color: #3E186F;
	font-size: 12pt;
 }
 
 .buttValiderFormInsc:hover
 {
	-moz-box-shadow: 0 0 15px #00C6DC;
	-webkit-box-shadow: 0 0 15px #00C6DC;
	box-shadow: 0 0 15px #00C6DC;
}
 
 .gauche{
 margin-top: 10px;
 margin-right: 5px;
 margin-left:25px;
 float:left;
 width:200px;
 border:solid 1px #ffffff;
 
 }
 
 #accesCodeMilitaire
 {
 	display: none;
 }
 
/*************************************/
/*********      Panier    ************/
/*************************************/

#panierFormInscript
{
	float :right;
	width: 200px;
	height: 399px;
	border-radius:10px;
	background-color: rgba(150, 200, 255, 0.3);
	margin-top: 0.5%;
	padding-top: 0.4%;
	padding-left: 1%;
	color: #E2C926;
	font-size: 12pt;
	margin-right: 1%;
}

#titrePanier
{
	font-weight: bold;
	font-family: Lucida Sans;
	font-size: 15pt;
		color: #E2C926;
	
}

#titrePanier a
{
	color: #E2C926 ;
}

#iconePanier
{
	background-image: url("./../image/Icones/cadie.39px.39px.png");
	position: absolute;
	width: 2.5%;
	height: 38px;
	margin-left: 10%;
	margin-top: -1.6%;
}


#hauteurPanierFormInscript
{
	height:270px;
}

#listePanierFormInsc
{
	color: #EAF9F7;
	overflow: auto;	
}

#listePanierFormInsc a
{
	color: #EAF9F7;	
}

#totalPanierFormInscript
{
	font-weight: bold;
	font-family: Lucida Sans;
	font-size: 1em;
}

.detailPanierFormInscript
{
	width:200px;
	height:30px;
	border-radius:10px;
	border:2px solid black;
	margin-left:-3%;
	background-color: #ABBAC8;
	color: #3E186F;
	font-size: 12pt;
}

.detailPanierFormInscript:hover
 {
	-moz-box-shadow: 0 0 25px #64EDAD;
	-webkit-box-shadow: 0 0 25px #64EDAD;
	box-shadow: 0 0 25px #64EDAD;
}
