/***************************************/
/*********      Content     ************/
/***************************************/

h2
{
	text-align:center;
	color:white;

}

nav
{
border: 2px,solid,black;
border-radius:10px;
float :left;
margin-right:150px;
width: 190px;
height:500px;
background-color: rgba(128, 128, 128, 0.43);

}
.hauteur
{

height:350px;

}

.Promo img
{
	width:100px;
	height:100px;
}
.panier
{
float :right;
width: 150px;
height:400px;
border-radius:10px;
background-color: rgba(128, 128, 128, 0.43);

}
.Promo
{
width: 500px;
margin-left:auto;
margin-right:auto;
border : 3px black solid;
border-radius:10px;
margin-bottom:25px;

}
.recherche
{
margin-bottom:5px;

}

.small
 {
 width:200px;
 float:left;
 }
 
 .Liste
 {
 width:800px;
 height:800px;
margin-left:auto;
margin-right:auto;
float:left;
background-color: rgba(128, 128, 128, 0.43);
margin-bottom:30px;
border-radius:10px;
 }
 .right
 {
	float:right;
 
 
 }
 
  .right2
 {
	float:right;
	width:80px;
	border-radius:10px;
	border:2px solid black;
 
 
 }
 .FI
 {
	
	width:400px;
	margin-left:auto;
	margin-right: auto;
	
 
 }
 .centVingtpx
 {
	width:120px;
 
 
 }
 .droite
 {
	float:right;
	width:150px;
 }
 .FI h1
 {
 
 width:400px;
 
 }
 .IP
 {
 
border: 2px,solid,black;
border-radius:10px;
float :left;
margin-right:50px;
margin-left: 50px;
width: 300px;
height:400px;
background-color: rgba(128, 128, 128, 0.43);
margin-bottom: 200px;
margin-top: 100px;
 }
 
.détail
{
width:800px;
height:800px;
float:left;
margin-left:300px;

border: 2px,solid,black;
border-radius:10px;
margin-bottom:100px;
}
.detailNiveau1,.detailNiveau3,.detailNiveau2
{

background-color: rgba(128, 128, 128, 0.43);
padding-bottom:20px;

}

.detailNiveau1
{
	padding-left:100px;


}

 .Promo ul li
 {
 display:inline;
 margin-right:10px;
 

 }
 
 .new{
	height:50px; 
 
 
 }
 
 .bottom
 {
	margin-bottom:30px;
 
 
 
 }
 .center
 {
	width:200px;
	margin-left:auto;
	margin-right:auto;
 
 }
  .center2
 {
	margin-left:auto;
	margin-right:18px;
	width:80px;
	border-radius:10px;
	border:2px solid black;
 }
 
 .gauche{
 margin-top: 10px;
 margin-right: 5px;
 margin-left:25px;
 float:left;
 width:200px;
 border:solid 1px #ffffff;
 
 }
 
.ima img
 {
	width: 200px;
	height:200px;
 }


 .Liste img
 {
 	width:200px;
	height:200px;
 }
 
#menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 150px;
}
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
   background-color:#557DD4; 
   border-radius: 6px;
   margin-bottom:2px;
   border:solid 1px #333A40
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:1em
}
#menu-accordeon li:hover {
   background: #729EBF
}
#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}